
body {
    background: url("images/menu_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
    margin: 0px;
}

#small_logo {
    margin-top: 25px;
    margin-left: 30px;
}

h1 {
    background-color: #949494;
    color: white;
    display: inline;
    padding: 8px 8px 22px 22px;
}

.modules_title {
    margin-top: 45px;
    margin-bottom: 50px;
}

.menu_list {
    margin-left: 30px;
}

.menu_list_item {
    margin: 30px 0px;
}

.menu_list_title {
    font-weight: bold;
    font-size: 20px;
    width: 350px;
    display: inline-block;
}

.menu_list_prix {
    font-size: 20px;
    color: #949494;
    display: inline-block;
    width: 100px;
    margin-left: 8px;
    text-align: right;
}

.menu_list_fonction {
    font-size: 14px;
    color: #35B2B0;
    margin-top: 4px;
    display: block;
    width: 320px;
}

.menu_list_badge {
    background-color: rgba(167, 207, 155, 0.4);
    font-size: 9px;
    padding: 3px 8px;
    margin-top: 4px;
    display: inline-block;
    border-radius: 8px;
    font-weight: bold;
}